$color-gray-dark: #222f3e;
$color-gray-mid: #576574;
$color-gray-light: #c8d6e5;
$color-primary: #10ac84;
$color-danger: #ee5253;
$color-primary-light: scale-color(
	$color-primary,
	$lightness: 50%
);
$color-primary-dark: scale-color(
	$color-primary,
	$lightness: -50%
);
$accent-color: scale-color(
	saturate(complement($color-primary), 100%),
	$lightness: 35%
);
