// ! uni-space
$space: 2.5rem;
$space-expansion: 1;

$space-xxs: calc((#{$space} / 8) * #{$space-expansion});
$space-xs: calc((#{$space} / 4) * #{$space-expansion});
$space-s: calc((#{$space} / 2) * #{$space-expansion});
$space-m: calc(#{$space} * #{$space-expansion});
$space-l: calc((#{$space} * 2) * #{$space-expansion});
$space-xl: calc((#{$space} * 4) * #{$space-expansion});
$space-xxl: calc((#{$space} * 8) * #{$space-expansion});
$space-xxxl: calc((#{$space} * 12) * #{$space-expansion});

// ! Measurements
$header-height: 50px;
$input-height: calc(#{$header-height} / 2);
$input-height--mobile: calc(#{$header-height} / 1.5);
$app-width: 50%;
$app-width--mobile: 100%;

// ! Breakpoints
$breakpoint-xxxl: 3440px;
$breakpoint-xxl: 2048px;
$breakpoint-iPadPro: 1366px;
$breakpoint-xl: 1280px;
$breakpoint-l: 1024px;
$breakpoint-m: 768px;
$breakpoint-s: 415px;
$breakpoint-iPhoneX: 375px;
$breakpoint-xs: 360px;
$breakpoint-xxs: 320px;

// ! Standard styles
$border-radius: 1rem;

// ! Font sizes
$font-size-m: 1rem;

$font-size-xs: calc(#{$font-size-m} * 0.75);
$font-size-s: calc(#{$font-size-m} * 0.85);
$font-size-l: calc(#{$font-size-m} * 1.25);
$font-size-xs: calc(#{$font-size-s} * 0.75);
$font-size-xl: calc(#{$font-size-l} * 1.5);
$font-size-xxl: calc(#{$font-size-xl} * 2);
$font-size-xxxl: calc(#{$font-size-xxl} * 1.5);
